/***************
COLOR VARIABLES
***************/
/***************
CONSISTENT SETTINGS
***************/
/***************
TYPE SETTINGS
***************/
/***************
BUTTON DEFAULTS
***************/
/* line 5, ../sass/modules/_buttons.scss */
.button, .button-secondary, .button-tertiary, .button__outline {
  background-color: seagreen;
  display: inline-block;
  position: relative;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: normal;
  padding: .5em 1.5em;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: .5em;
  -moz-transition: background-color 0.14s ease-in-out;
  -o-transition: background-color 0.14s ease-in-out;
  -webkit-transition: background-color 0.14s ease-in-out;
  transition: background-color 0.14s ease-in-out;
}
/* line 23, ../sass/modules/_buttons.scss */
.button:hover, .button-secondary:hover, .button-tertiary:hover, .button__outline:hover, .button:focus, .button-secondary:focus, .button-tertiary:focus, .button__outline:focus {
  color: #fff;
  text-decoration: none;
  background-color: #21653f;
}
/* line 30, ../sass/modules/_buttons.scss */
.button:active, .button-secondary:active, .button-tertiary:active, .button__outline:active {
  top: 1px;
}

/* line 41, ../sass/modules/_buttons.scss */
.button-secondary {
  background-color: #233E5B;
}
/* line 45, ../sass/modules/_buttons.scss */
.button-secondary:hover {
  background-color: #152536;
}
/* line 50, ../sass/modules/_buttons.scss */
.button-tertiary {
  background-color: #aaa;
}
/* line 54, ../sass/modules/_buttons.scss */
.button-tertiary:hover {
  background-color: #919191;
}

/* line 62, ../sass/modules/_buttons.scss */
.button__outline {
  background-color: transparent;
  border: 3px solid seagreen;
  color: seagreen;
}
/* line 68, ../sass/modules/_buttons.scss */
.button__outline:hover {
  background-color: seagreen;
  color: #fff;
}

/***************
FORM STYLING
***************/
/* line 5, ../sass/modules/_forms.scss */
label {
  display: block;
  margin-bottom: 5px;
}

/* line 9, ../sass/modules/_forms.scss */
input[type=text], input[type=email], input[type=phone], input[type=password], input[type=number], input[type=search], textarea {
  background: #e6e6e6;
  padding: 5px;
  outline: none;
  border: none;
  height: 44px;
  width: 300px;
  margin-bottom: .5rem;
}
/* line 18, ../sass/modules/_forms.scss */
input[type=text]:focus, input[type=email]:focus, input[type=phone]:focus, input[type=password]:focus, input[type=number]:focus, input[type=search]:focus, textarea:focus {
  border: 1px solid seagreen;
}
/* line 22, ../sass/modules/_forms.scss */
input[type=text].full-width, input[type=email].full-width, input[type=phone].full-width, input[type=password].full-width, input[type=number].full-width, input[type=search].full-width, textarea.full-width {
  width: 100%;
}

/* line 26, ../sass/modules/_forms.scss */
textarea {
  height: 132px;
}

/* line 30, ../sass/modules/_forms.scss */
form {
  margin-bottom: 40px;
}
/* line 34, ../sass/modules/_forms.scss */
form .field {
  margin-bottom: 20px;
}
/* line 39, ../sass/modules/_forms.scss */
form .note {
  margin-top: 5px;
  color: #aaa;
}
/* line 45, ../sass/modules/_forms.scss */
form .req {
  font-style: italic;
}
/* line 53, ../sass/modules/_forms.scss */
form .error .reason {
  margin-top: 5px;
  color: #FF4136;
}
/* line 58, ../sass/modules/_forms.scss */
form .error input[type=text], form .error input[type=email], form .error input[type=phone], form .error input[type=password], form .error input[type=number], form .error input[type=search], form .error textarea {
  border-color: #FF4136;
}

/***************
TABLE STYLES
***************/
/* line 5, ../sass/modules/_tables.scss */
table {
  width: 100%;
  border: 1px solid #d0d0d0;
  margin-bottom: 1.5em;
}
/* line 10, ../sass/modules/_tables.scss */
table caption {
  margin: 0 0 7px;
  font-size: 0.75em;
  color: #aaa;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* line 19, ../sass/modules/_tables.scss */
tr {
  border-bottom: 1px solid #d0d0d0;
}
/* line 22, ../sass/modules/_tables.scss */
tr:nth-child(even) {
  background-color: #f7f7f7;
}

/* line 27, ../sass/modules/_tables.scss */
td {
  padding: 7px;
  border-right: 1px solid #d0d0d0;
}
/* line 31, ../sass/modules/_tables.scss */
td:last-child {
  border-right: 0;
}

/* line 36, ../sass/modules/_tables.scss */
th {
  background-color: #f7f7f7;
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
}
/* line 41, ../sass/modules/_tables.scss */
th:last-child {
  border-right: 0;
}

/***************
  Darkly Pygments Theme
  (c) 2014 Sourcey
  http://sourcey.com
***************/
/* line 7, ../sass/modules/_syntax.scss */
.highlight {
  white-space: pre;
  overflow: auto;
  word-wrap: normal;
  /* horizontal scrolling */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 20px;
  background: #343642;
  color: #C1C2C3;
}

/* line 18, ../sass/modules/_syntax.scss */
.highlight .hll {
  background-color: #ffc;
}

/* line 19, ../sass/modules/_syntax.scss */
.highlight .gd {
  color: #2e3436;
  background-color: #0e1416;
}

/* line 20, ../sass/modules/_syntax.scss */
.highlight .gr {
  color: #eeeeec;
  background-color: #c00;
}

/* line 21, ../sass/modules/_syntax.scss */
.highlight .gi {
  color: #babdb6;
  background-color: #1f2b2d;
}

/* line 22, ../sass/modules/_syntax.scss */
.highlight .go {
  color: #2c3032;
  background-color: #2c3032;
}

/* line 23, ../sass/modules/_syntax.scss */
.highlight .kt {
  color: #e3e7df;
}

/* line 24, ../sass/modules/_syntax.scss */
.highlight .ni {
  color: #888a85;
}

/* line 25, ../sass/modules/_syntax.scss */
.highlight .c, .highlight .cm, .highlight .c1, .highlight .cs {
  color: #8D9684;
}

/* line 26, ../sass/modules/_syntax.scss */
.highlight .err, .highlight .g, .highlight .l, .highlight .n, .highlight .x, .highlight .p, .highlight .ge,
.highlight .gp, .highlight .gs, .highlight .gt, .highlight .ld, .highlight .s, .highlight .nc, .highlight .nd,
.highlight .ne, .highlight .nl, .highlight .nn, .highlight .nx, .highlight .py, .highlight .ow, .highlight .w, .highlight .sb,
.highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .sr,
.highlight .s1, .highlight .ss, .highlight .bp {
  color: #C1C2C3;
}

/* line 31, ../sass/modules/_syntax.scss */
.highlight .k, .highlight .kc, .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr,
.highlight .nt {
  color: #729fcf;
}

/* line 33, ../sass/modules/_syntax.scss */
.highlight .cp, .highlight .gh, .highlight .gu, .highlight .na, .highlight .nf {
  color: #E9A94B;
}

/* line 34, ../sass/modules/_syntax.scss */
.highlight .m, .highlight .nb, .highlight .no, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo,
.highlight .il {
  color: #8ae234;
}

/* line 36, ../sass/modules/_syntax.scss */
.highlight .o {
  color: #989DAA;
}

/* line 37, ../sass/modules/_syntax.scss */
.highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi {
  color: #fff;
}

/***************
A MORE MODERN SCALE
http://typecast.com/blog/a-more-modern-scale-for-web-typography
***************/
/* line 6, ../sass/partials/_typography.scss */
body {
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.45;
  /* equivalent to 20px */
}
/* line 12, ../sass/partials/_typography.scss */
body .intro {
  font-size: 1.25em;
  line-height: 1.7;
}

@media (min-width: 43.75em) {
  /* line 19, ../sass/partials/_typography.scss */
  body {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */
  }
}
/* line 27, ../sass/partials/_typography.scss */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: .5rem 0 1.5rem;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

/* line 33, ../sass/partials/_typography.scss */
h1, .h1 {
  font-size: 2em;
  line-height: 1.25;
}

@media (min-width: 43.75em) {
  /* line 39, ../sass/partials/_typography.scss */
  h1, .h1 {
    font-size: 2.5em;
    line-height: 1.125;
  }
}
@media (min-width: 56.25em) {
  /* line 46, ../sass/partials/_typography.scss */
  h1, .h1 {
    font-size: 3em;
    line-height: 1.05;
  }
}
/* line 52, ../sass/partials/_typography.scss */
h2, .h2 {
  font-size: 1.625em;
  line-height: 1.15384615;
}

@media (min-width: 43.75em) {
  /* line 58, ../sass/partials/_typography.scss */
  h2, .h2 {
    font-size: 2em;
    line-height: 1.25;
  }
}
@media (min-width: 56.25em) {
  /* line 65, ../sass/partials/_typography.scss */
  h2, .h2 {
    font-size: 2.25em;
    line-height: 1.25;
  }
}
/* line 71, ../sass/partials/_typography.scss */
h3, .h3 {
  font-size: 1.375em;
  line-height: 1.13636364;
}

@media (min-width: 43.75em) {
  /* line 77, ../sass/partials/_typography.scss */
  h3, .h3 {
    font-size: 1.5em;
    line-height: 1.25;
  }
}
@media (min-width: 56.25em) {
  /* line 84, ../sass/partials/_typography.scss */
  h3, .h3 {
    font-size: 1.75em;
    line-height: 1.25;
  }
}
/* line 90, ../sass/partials/_typography.scss */
h4, .h4 {
  font-size: 1.125em;
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  /* line 96, ../sass/partials/_typography.scss */
  h4, .h4 {
    line-height: 1.22222222;
  }
}
/* line 101, ../sass/partials/_typography.scss */
blockquote {
  font-size: 1.25em;
  line-height: 1.25;
  padding: 0;
}

@media (min-width: 43.75em) {
  /* line 108, ../sass/partials/_typography.scss */
  blockquote {
    font-size: 1.5em;
    line-height: 1.45833333;
  }
}
/***************
TRANSITION
***************/
/* @include transition(all 0.2s ease-in-out); */
/***************
BOX SIZING
***************/
/* @include box-sizing(border-box); */
/***************
CLEAR AFTER FLOATS
***************/
/* line 45, ../sass/partials/_mixins.scss */
.clearfix {
  zoom: 1;
}
/* line 34, ../sass/partials/_mixins.scss */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 40, ../sass/partials/_mixins.scss */
.clearfix:after {
  clear: both;
}

/***************
SUSY GRID CONFIGURATION
***************/
/***************
GLOBAL STYLES
***************/
/* line 6, ../sass/breakpoints/_mobileup.scss */
html {
  box-sizing: border-box;
}

/* line 9, ../sass/breakpoints/_mobileup.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 13, ../sass/breakpoints/_mobileup.scss */
body {
  font-family: "PT Serif", Georgia, Times, serif;
  line-height: 1.75;
  font-size: 112.5%;
  color: #111;
  overflow-x: hidden;
}
/* line 20, ../sass/breakpoints/_mobileup.scss */
body p, body ul {
  margin: 0 0 2rem;
}

/* line 26, ../sass/breakpoints/_mobileup.scss */
::-moz-selection {
  background: seagreen;
  color: white;
}

/* line 31, ../sass/breakpoints/_mobileup.scss */
::selection {
  background: seagreen;
  color: white;
}

/* line 37, ../sass/breakpoints/_mobileup.scss */
img, video, audio, iframe, object {
  max-width: 100%;
}

/* line 42, ../sass/breakpoints/_mobileup.scss */
.container {
  max-width: 610px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
/* line 12, ../../../../../.rvm/gems/ruby-2.3.1/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/***************
LINK STYLING
***************/
/* line 52, ../sass/breakpoints/_mobileup.scss */
a {
  color: seagreen;
}
/* line 55, ../sass/breakpoints/_mobileup.scss */
a:hover {
  color: #1b5233;
}

/***************
MENU STYLING
***************/
/* line 65, ../sass/breakpoints/_mobileup.scss */
.nav-collapse {
  z-index: 1;
}
/* line 68, ../sass/breakpoints/_mobileup.scss */
.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}
/* line 75, ../sass/breakpoints/_mobileup.scss */
.nav-collapse ul li {
  width: 100%;
  display: block;
  background: seagreen;
  border-bottom: 2px solid #349e63;
}
/* line 81, ../sass/breakpoints/_mobileup.scss */
.nav-collapse ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 5px 2rem;
}

/* line 91, ../sass/breakpoints/_mobileup.scss */
.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
  clear: both;
  width: 100%;
}

/* line 102, ../sass/breakpoints/_mobileup.scss */
.nav-collapse.opened {
  max-height: 9999px;
}

/* line 106, ../sass/breakpoints/_mobileup.scss */
.nav-toggle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  float: right;
  line-height: 2em;
  margin-top: .5em;
  background-color: seagreen;
  border-radius: 4px;
  padding: 0 .5em;
  color: white;
  text-decoration: none;
  position: relative;
  right: 2rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 126, ../sass/breakpoints/_mobileup.scss */
.nav-toggle:hover {
  color: white;
  background-color: #21653f;
}

/***************
LIST STYLING
***************/
/* line 137, ../sass/breakpoints/_mobileup.scss */
.noList {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

/* line 143, ../sass/breakpoints/_mobileup.scss */
dt {
  font-weight: bold;
}

/* line 147, ../sass/breakpoints/_mobileup.scss */
dd {
  margin: 0 0 1.5rem;
}

/* line 151, ../sass/breakpoints/_mobileup.scss */
.post ul ul,
.post ul ol,
.post ol ul,
.post ol ol {
  margin: 0;
}

/***************
PAGE STYLES
***************/
/* line 163, ../sass/breakpoints/_mobileup.scss */
.pageTitle {
  margin: 2rem auto 1em;
  text-align: center;
}

/* line 168, ../sass/breakpoints/_mobileup.scss */
.content {
  padding-top: 1em;
}

/***************
HEADER STYLING
***************/
/* line 177, ../sass/breakpoints/_mobileup.scss */
.header {
  background-color: seagreen;
  background-image: url("../img/jinja.jpg");
  background-size: cover;
  background-position: center center;
  color: white;
  padding: 0;
  height: 3em;
}
/* line 186, ../sass/breakpoints/_mobileup.scss */
.header .container {
  padding: 0;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../.rvm/gems/ruby-2.3.1/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.header .container:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 191, ../sass/breakpoints/_mobileup.scss */
.header h1 {
  margin: 0;
  float: left;
  padding-left: 2rem;
  font-size: 1em;
  line-height: 3em;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}
/* line 201, ../sass/breakpoints/_mobileup.scss */
.header h1 a {
  color: white;
  text-decoration: none;
}

/***************
POST STYLING
***************/
/* line 215, ../sass/breakpoints/_mobileup.scss */
.post .postTitle {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
/* line 221, ../sass/breakpoints/_mobileup.scss */
.post blockquote {
  clear: both;
  margin: 2.5em 0;
  padding: 0;
  line-height: 1.8;
  position: relative;
}
/* line 228, ../sass/breakpoints/_mobileup.scss */
.post blockquote:before {
  content: "";
  position: absolute;
  top: -1.25em;
  background: seagreen;
  display: block;
  height: 2px;
  width: 150px;
  left: calc(50% - 75px);
}
/* line 239, ../sass/breakpoints/_mobileup.scss */
.post blockquote:after {
  content: "";
  position: absolute;
  bottom: -1.25em;
  background: seagreen;
  display: block;
  height: 2px;
  width: 150px;
  left: calc(50% - 75px);
}
/* line 251, ../sass/breakpoints/_mobileup.scss */
.post .meta {
  text-align: center;
  color: gray;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
/* line 258, ../sass/breakpoints/_mobileup.scss */
.post figure {
  margin: 3rem 0;
}
/* line 261, ../sass/breakpoints/_mobileup.scss */
.post figure figcaption {
  text-align: center;
  font-size: .9em;
  font-style: italic;
  color: #5e5e5e;
}
/* line 268, ../sass/breakpoints/_mobileup.scss */
.post figure img {
  margin: 0 auto;
  display: block;
}
/* line 274, ../sass/breakpoints/_mobileup.scss */
.post img {
  margin-bottom: 2rem;
}
/* line 278, ../sass/breakpoints/_mobileup.scss */
.post .highlight {
  clear: both;
  margin-bottom: 2rem;
}
/* line 283, ../sass/breakpoints/_mobileup.scss */
.post .dropcap {
  color: seagreen;
  margin-right: .45rem;
}
/* line 288, ../sass/breakpoints/_mobileup.scss */
.post .featuredImage {
  position: relative;
  margin-top: 2rem;
}
/* line 292, ../sass/breakpoints/_mobileup.scss */
.post .featuredImage img {
  margin-bottom: 0;
}

/***************
POST NAV STYLING
***************/
/* line 303, ../sass/breakpoints/_mobileup.scss */
.postNav {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  overflow: hidden;
}
/* line 308, ../sass/breakpoints/_mobileup.scss */
.postNav .prev, .postNav .next {
  display: block;
  width: 100%;
  height: 5rem;
  overflow: hidden;
  position: relative;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: .9em;
  text-transform: uppercase;
  text-align: center;
}
/* line 320, ../sass/breakpoints/_mobileup.scss */
.postNav .prev img, .postNav .next img {
  z-index: 1;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: auto;
}
/* line 333, ../sass/breakpoints/_mobileup.scss */
.postNav .prev span, .postNav .next span {
  z-index: 10;
  position: relative;
  padding: .5rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  line-height: 1.4;
}
/* line 346, ../sass/breakpoints/_mobileup.scss */
.postNav .prev.image, .postNav .next.image {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  padding: 0 .5rem;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 356, ../sass/breakpoints/_mobileup.scss */
.postNav .prev:hover.image, .postNav .next:hover.image {
  opacity: .8;
}
/* line 363, ../sass/breakpoints/_mobileup.scss */
.postNav .prev span {
  left: 0;
}
/* line 369, ../sass/breakpoints/_mobileup.scss */
.postNav .next span {
  right: 0;
}

/***************
FOOTER STYLING
***************/
/* line 380, ../sass/breakpoints/_mobileup.scss */
.footer {
  text-align: center;
  padding: 2rem 0;
}
/* line 384, ../sass/breakpoints/_mobileup.scss */
.footer .container {
  border-top: 4px solid #d9d9d9;
  padding-top: .5em;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../.rvm/gems/ruby-2.3.1/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.footer .container:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 390, ../sass/breakpoints/_mobileup.scss */
.footer .copy, .footer .footer-links {
  font-size: .8em;
}
/* line 394, ../sass/breakpoints/_mobileup.scss */
.footer .copy {
  margin-bottom: 1rem;
}
/* line 399, ../sass/breakpoints/_mobileup.scss */
.footer-links ul {
  text-align: center;
}
/* line 402, ../sass/breakpoints/_mobileup.scss */
.footer-links ul li {
  display: inline-block;
}
/* line 405, ../sass/breakpoints/_mobileup.scss */
.footer-links ul li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 411, ../sass/breakpoints/_mobileup.scss */
.footer-links ul li a svg {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 416, ../sass/breakpoints/_mobileup.scss */
.footer-links ul li a svg .outer-shape {
  fill: seagreen;
}
/* line 420, ../sass/breakpoints/_mobileup.scss */
.footer-links ul li a svg .inner-shape {
  fill: white;
}
/* line 430, ../sass/breakpoints/_mobileup.scss */
.footer-links ul li:hover a svg .outer-shape {
  fill: #21653f;
}

/***************
PAGINATION STYLING
***************/
/* line 447, ../sass/breakpoints/_mobileup.scss */
.pagination .next {
  float: left;
}
/* line 451, ../sass/breakpoints/_mobileup.scss */
.pagination .previous {
  float: right;
}

/***************
POST LIST STYLING
***************/
/* line 462, ../sass/breakpoints/_mobileup.scss */
.posts li {
  margin-bottom: 4rem;
  position: relative;
}
/* line 466, ../sass/breakpoints/_mobileup.scss */
.posts li:before {
  content: "";
  position: absolute;
  bottom: -2rem;
  left: 0;
  background: #e6e6e6;
  height: 2px;
  width: 60px;
}
/* line 476, ../sass/breakpoints/_mobileup.scss */
.posts li a {
  text-decoration: none;
}
/* line 479, ../sass/breakpoints/_mobileup.scss */
.posts li a:hover {
  text-decoration: underline;
}
/* line 484, ../sass/breakpoints/_mobileup.scss */
.posts li .date {
  color: gray;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: .8em;
}
/* line 491, ../sass/breakpoints/_mobileup.scss */
.posts li h3 {
  margin: 0 0 .5em;
}

@media only screen and (min-width: 800px) {
  /***************
  GLOBAL STYLES
  ***************/
  /* line 5, ../sass/breakpoints/_800up.scss */
  .content {
    padding-top: 0;
    position: relative;
    z-index: 1;
  }
  /* line 10, ../sass/breakpoints/_800up.scss */
  .content:after {
    z-index: -1;
    background: white;
    content: "";
    display: block;
    width: 100%;
    height: 5em;
    position: absolute;
    top: -2em;
    left: 0;
    -webkit-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    transform: skewY(-2deg);
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
  }

  /* line 29, ../sass/breakpoints/_800up.scss */
  .container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
  /* line 12, ../../../../../.rvm/gems/ruby-2.3.1/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }

  /***************
  HOMEPAGE STYLING
  ***************/
  /* line 40, ../sass/breakpoints/_800up.scss */
  #home .posts, #home .pageTitle, #home .pagination {
    width: 74.46809%;
    float: left;
    margin-right: 2.12766%;
    float: none;
    margin: 0 auto 1.5em;
  }
  /* line 46, ../sass/breakpoints/_800up.scss */
  #home .pageTitle {
    margin: 2rem auto 1em;
  }

  /***************
  HEADER STYLING
  ***************/
  /* line 56, ../sass/breakpoints/_800up.scss */
  .header {
    height: 15em;
    position: relative;
    padding-bottom: 2em;
  }
  /* line 61, ../sass/breakpoints/_800up.scss */
  .header .container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../.rvm/gems/ruby-2.3.1/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .header .container:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 70, ../sass/breakpoints/_800up.scss */
  .header h1 {
    font-size: 3em;
    line-height: 1;
    letter-spacing: -3px;
    padding-left: 0;
  }
  /* line 77, ../sass/breakpoints/_800up.scss */
  .header nav {
    float: left;
    clear: left;
  }
  /* line 81, ../sass/breakpoints/_800up.scss */
  .header nav ul {
    margin: 0;
  }
  /* line 83, ../sass/breakpoints/_800up.scss */
  .header nav ul li {
    display: inline;
    line-height: 3em;
    background: none;
    padding: 0 5px;
    border: none;
  }
  /* line 90, ../sass/breakpoints/_800up.scss */
  .header nav ul li a {
    color: white;
    font-size: .9em;
    text-decoration: none;
    padding: 0 .25em;
  }
  /* line 96, ../sass/breakpoints/_800up.scss */
  .header nav ul li a:hover {
    color: #cccccc;
  }
  /* line 101, ../sass/breakpoints/_800up.scss */
  .header nav ul li.current {
    padding-bottom: .25em;
    border-bottom: 4px solid rgba(255, 255, 255, 0.4);
  }

  /***************
  MENU STYLING
  ***************/
  /* line 117, ../sass/breakpoints/_800up.scss */
  .js .nav-collapse {
    position: relative;
    max-height: none;
  }
  /* line 121, ../sass/breakpoints/_800up.scss */
  .js .nav-collapse.closed {
    max-height: none;
  }
  /* line 125, ../sass/breakpoints/_800up.scss */
  .js .nav-collapse ul li a {
    display: inline-block;
  }

  /* line 131, ../sass/breakpoints/_800up.scss */
  .nav-toggle {
    display: none;
  }

  /***************
  POST STYLING
  ***************/
  /* line 141, ../sass/breakpoints/_800up.scss */
  .post h1, .post h2, .post h3, .post h4, .post h5, .post h6, .post p, .post ul, .post ol, .post dl, .post .pageTitle {
    width: 74.46809%;
    float: left;
    margin-right: 2.12766%;
    float: none;
    margin: 0 auto 2rem;
  }
  /* line 147, ../sass/breakpoints/_800up.scss */
  .post h1, .post .h1, .post h2, .post .h2, .post h3, .post .h3, .post h4, .post .h4, .post h5, .post .h5, .post h6, .post .h6 {
    margin: 1rem auto;
  }
  /* line 151, ../sass/breakpoints/_800up.scss */
  .post .pageTitle {
    margin: 2rem auto 1em;
  }
  /* line 155, ../sass/breakpoints/_800up.scss */
  .post .featuredImage {
    position: relative;
    margin-top: 2rem;
  }
  /* line 159, ../sass/breakpoints/_800up.scss */
  .post .featuredImage:before {
    background: white;
    content: "";
    display: block;
    width: 100%;
    height: 4em;
    position: absolute;
    top: -2em;
    left: 0;
    -webkit-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    transform: skewY(-2deg);
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
  }

  /***************
  POST NAV STYLING
  ***************/
  /* line 185, ../sass/breakpoints/_800up.scss */
  .postNav .prev, .postNav .next {
    width: 50%;
  }
  /* line 189, ../sass/breakpoints/_800up.scss */
  .postNav .prev {
    float: left;
    text-align: left;
  }
  /* line 194, ../sass/breakpoints/_800up.scss */
  .postNav .next {
    text-align: right;
    float: right;
  }

  /***************
  FOOTER STYLES
  ***************/
  /* line 206, ../sass/breakpoints/_800up.scss */
  .footer-links {
    float: right;
  }
  /* line 210, ../sass/breakpoints/_800up.scss */
  .footer .copy {
    float: left;
  }
  /* line 214, ../sass/breakpoints/_800up.scss */
  .footer .container {
    padding: 1rem 0;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../.rvm/gems/ruby-2.3.1/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  .footer .container:after {
    content: " ";
    display: block;
    clear: both;
  }

  /***************
  CONTACT PAGE STYLING
  ***************/
  /* line 225, ../sass/breakpoints/_800up.scss */
  .contactContent {
    width: 48.93617%;
    float: left;
    margin-right: 2.12766%;
  }

  /* line 230, ../sass/breakpoints/_800up.scss */
  #contact form {
    width: 48.93617%;
    float: right;
    margin-right: 0;
  }
}
